a{
	text-decoration: none;	
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}
nav ul{
	display: flex;	
}
.toggle{
	display: none;
}
nav ul li a{
	margin: 25px;
	font-family: 'Roboto', sans-serif;;
	color: #505050;
	font-size: 15px;
	font-weight: 700;

}
.logo img{
	margin: 20px 30px 8px 25px;
	width: 150px;
	height: auto;
	color: #505050;
}
.active{
	font-weight: bold;
	color: #2d2a2a;
}